In [6]:
import pandas as pd
import numpy as np

df = pd.read_excel("D:\\OneDrive - CUHK-Shenzhen\\Research\\Student profiling data\\Student profiling data\\1810-2020六学期学生成绩数据.xlsx")
group = df.groupby('ID')
k = []
v = []
for key, value in group:
    k.append(key)
    v.append(value)

tt = pd.read_excel("C:\\Users\\HUAWEI\\Desktop\\不在书院时间.xlsx")

In [7]:
# Search for the same id in two tables
time_id = list(tt['id'])
agg = []
for i in k:
    if i in time_id:
        agg.append(i)
len(agg)

519

In [8]:
# 生成包含时间id的成绩表格
# Generate table which includes time, id and grade
new_df = df.loc[df['ID'].isin(agg),:]
new_df = new_df.reset_index(drop = True)
new_df = new_df.drop(columns = ['Course Offering School','Term','Course ID'])
new_df
# new_df.to_excel('包含的成绩.xlsx')

                                   ID  Grade
0    00253c6f79ae6fdbd40819835d801984      1
1    00253c6f79ae6fdbd40819835d801984      3
2    005263d60d9adbe3c955d8bfae65ce38      3
3    00e34e2773a116448243a2ae76e0ff7d      2
4    021a6793c00383f5a61d0839560bf064      2
..                                ...    ...
609  fb5bd4433c1bebe2328a3c7af9302577      4
610  fc5641133d7ec7f56a3b271ab4262789      2
611  fc600c03ad171d20967709ea6777fa37      3
612  fed81ec6589dd636a9d355ba3dd4178b      1
613  ff7c7e2fbc5360b87176d02023a0f81b      1

[614 rows x 2 columns]

In [9]:
# 生成新的成绩表格（取平均）
# Generate new table with average grade
gg = new_df.groupby('ID')
update_df = pd.DataFrame()
for k,v in gg:
    if len(v) > 1:
        m = v['Grade'].mean()
        v=v.drop(index=v.index)
        v.loc[0] = [k, m]
    update_df = update_df.append(v)
update_df = update_df.reset_index(drop = True)

In [10]:
# 生成包含时间的表格
# Generate new table with time included
new_tt = tt.loc[tt['id'].isin(agg),:]
new_tt = new_tt.reset_index(drop = True)

In [11]:
# 合并两表
# concatenate two tables
new_time_grade = pd.concat([update_df,new_tt],axis = 1)

In [11]:
# 替换
# Dropna
new_time_grade = new_time_grade.replace(86400,'NaN')
new_time_grade

,ID,Grade,id,2021-10-12,2021-10-13,2021-10-14,2021-10-15,2021-10-16,2021-10-17,2021-10-18,...,2021-12-02,2021-12-03,2021-12-04,2021-12-05,2021-12-06,2021-12-07,2021-12-08,2021-12-09,2021-12-10,2021-12-11
0,00253c6f79ae6fdbd40819835d801984,2.000000,00253c6f79ae6fdbd40819835d801984,35280,17350,47421,44668,21410,49540,41635,...,46144,31416,NaN,75821,46233,16184,79515,19360,80336,NaN
1,005263d60d9adbe3c955d8bfae65ce38,3.000000,005263d60d9adbe3c955d8bfae65ce38,48738,9270,23271,50523,17788,50485,58333,...,32078,3291,11853,14740,28459,22521,NaN,31711,NaN,NaN
2,00e34e2773a116448243a2ae76e0ff7d,2.000000,00e34e2773a116448243a2ae76e0ff7d,21036,5712,23363,58227,14463,23160,35985,...,42945,8816,2505,NaN,55812,16584,269,9908,252,NaN
3,021a6793c00383f5a61d0839560bf064,2.666667,021a6793c00383f5a61d0839560bf064,16767,307,17654,61,13986,10130,24661,...,NaN,304,3596,10306,18519,15476,NaN,3059,31263,NaN
4,02cca16b52ba875d904e71eea0feab3c,4.000000,02cca16b52ba875d904e71eea0feab3c,34726,44773,16845,2966,20484,43243,3068,...,48392,45163,38973,74551,22637,82221,NaN,2749,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,fb5bd4433c1bebe2328a3c7af9302577,4.000000,fb5bd4433c1bebe2328a3c7af9302577,68961,34774,84887,14653,32048,25064,63510,...,83592,80048,38507,76912,42966,7732,79706,40965,81455,NaN
515,fc5641133d7ec7f56a3b271ab4262789,2.000000,fc5641133d7ec7f56a3b271ab4262789,46947,36428,21079,19988,20685,30911,41178,...,32134,36976,25151,21665,18139,40416,NaN,10324,NaN,NaN
516,fc600c03ad171d20967709ea6777fa37,3.000000,fc600c03ad171d20967709ea6777fa37,2035,9612,2888,808,30753,1211,1490,...,650,5269,3152,300,1026,11345,NaN,22393,75703,NaN
517,fed81ec6589dd636a9d355ba3dd4178b,1.000000,fed81ec6589dd636a9d355ba3dd4178b,39218,37662,70992,46441,NaN,NaN,46766,...,56990,44093,20149,26597,51363,16737,80430,46414,86240,138
518,ff7c7e2fbc5360b87176d02023a0f81b,1.000000,ff7c7e2fbc5360b87176d02023a0f81b,31718,9574,28368,22126,64172,46971,59074,...,20719,52878,68588,2162,19734,24918,70312,28933,83822,NaN

In [12]:
# 纵向删除空值
# Drop empty entries in columns
n = []

for i in new_time_grade.columns:
    value = 0
    for j in new_time_grade[i]:
        if str(j).isalpha():
            value += 1
    n.append(value)

idx = []
k = 0
for i in n:
    if i > 150:
        new_time_grade = new_time_grade.drop(columns = new_time_grade.columns[n.index(i)-k])
        k += 1
# new_time_grade.to_excel('相同成绩和时间.xlsx')

In [13]:
new_time_grade

,ID,Grade,id,2021-10-12,2021-10-13,2021-10-14,2021-10-15,2021-10-16,2021-10-17,2021-10-18,...,2021-11-29,2021-11-30,2021-12-01,2021-12-02,2021-12-03,2021-12-04,2021-12-05,2021-12-06,2021-12-07,2021-12-09
0,00253c6f79ae6fdbd40819835d801984,2.000000,00253c6f79ae6fdbd40819835d801984,35280,17350.0,47421.0,44668.0,21410.0,49540.0,41635.0,...,39119.0,43674.0,32633.0,46144.0,31416.0,NaN,75821.0,46233.0,16184.0,19360.0
1,005263d60d9adbe3c955d8bfae65ce38,3.000000,005263d60d9adbe3c955d8bfae65ce38,48738,9270.0,23271.0,50523.0,17788.0,50485.0,58333.0,...,26717.0,23085.0,28519.0,32078.0,3291.0,11853.0,14740.0,28459.0,22521.0,31711.0
2,00e34e2773a116448243a2ae76e0ff7d,2.000000,00e34e2773a116448243a2ae76e0ff7d,21036,5712.0,23363.0,58227.0,14463.0,23160.0,35985.0,...,52335.0,29912.0,50716.0,42945.0,8816.0,2505.0,NaN,55812.0,16584.0,9908.0
3,021a6793c00383f5a61d0839560bf064,2.666667,021a6793c00383f5a61d0839560bf064,16767,307.0,17654.0,61.0,13986.0,10130.0,24661.0,...,24310.0,18351.0,8456.0,NaN,304.0,3596.0,10306.0,18519.0,15476.0,3059.0
4,02cca16b52ba875d904e71eea0feab3c,4.000000,02cca16b52ba875d904e71eea0feab3c,34726,44773.0,16845.0,2966.0,20484.0,43243.0,3068.0,...,9749.0,41882.0,59780.0,48392.0,45163.0,38973.0,74551.0,22637.0,82221.0,2749.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,fb5bd4433c1bebe2328a3c7af9302577,4.000000,fb5bd4433c1bebe2328a3c7af9302577,68961,34774.0,84887.0,14653.0,32048.0,25064.0,63510.0,...,33827.0,26034.0,74143.0,83592.0,80048.0,38507.0,76912.0,42966.0,7732.0,40965.0
515,fc5641133d7ec7f56a3b271ab4262789,2.000000,fc5641133d7ec7f56a3b271ab4262789,46947,36428.0,21079.0,19988.0,20685.0,30911.0,41178.0,...,24403.0,29296.0,20237.0,32134.0,36976.0,25151.0,21665.0,18139.0,40416.0,10324.0
516,fc600c03ad171d20967709ea6777fa37,3.000000,fc600c03ad171d20967709ea6777fa37,2035,9612.0,2888.0,808.0,30753.0,1211.0,1490.0,...,530.0,8126.0,6052.0,650.0,5269.0,3152.0,300.0,1026.0,11345.0,22393.0
517,fed81ec6589dd636a9d355ba3dd4178b,1.000000,fed81ec6589dd636a9d355ba3dd4178b,39218,37662.0,70992.0,46441.0,NaN,NaN,46766.0,...,63397.0,41182.0,44494.0,56990.0,44093.0,20149.0,26597.0,51363.0,16737.0,46414.0
518,ff7c7e2fbc5360b87176d02023a0f81b,1.000000,ff7c7e2fbc5360b87176d02023a0f81b,31718,9574.0,28368.0,22126.0,64172.0,46971.0,59074.0,...,7867.0,3553.0,6436.0,20719.0,52878.0,68588.0,2162.0,19734.0,24918.0,28933.0

In [14]:
# 横向删除空值
# Drop empty entries in rows
n = []

for i in range(len(new_time_grade)):
    value = 0
    for j in range(new_time_grade.shape[1]):
        if str(new_time_grade.iloc[i,j]).isalpha():
            value+= 1
    n.append(value) 

idx = []
k = 0
for i in range(len(n)):
    if n[i] >30:
        new_time_grade = new_time_grade.drop(i,axis = 0)
#         k += 1
new_time_grade

,ID,Grade,id,2021-10-12,2021-10-13,2021-10-14,2021-10-15,2021-10-16,2021-10-17,2021-10-18,...,2021-11-29,2021-11-30,2021-12-01,2021-12-02,2021-12-03,2021-12-04,2021-12-05,2021-12-06,2021-12-07,2021-12-09
0,00253c6f79ae6fdbd40819835d801984,2.000000,00253c6f79ae6fdbd40819835d801984,35280,17350.0,47421.0,44668.0,21410.0,49540.0,41635.0,...,39119.0,43674.0,32633.0,46144.0,31416.0,NaN,75821.0,46233.0,16184.0,19360.0
1,005263d60d9adbe3c955d8bfae65ce38,3.000000,005263d60d9adbe3c955d8bfae65ce38,48738,9270.0,23271.0,50523.0,17788.0,50485.0,58333.0,...,26717.0,23085.0,28519.0,32078.0,3291.0,11853.0,14740.0,28459.0,22521.0,31711.0
2,00e34e2773a116448243a2ae76e0ff7d,2.000000,00e34e2773a116448243a2ae76e0ff7d,21036,5712.0,23363.0,58227.0,14463.0,23160.0,35985.0,...,52335.0,29912.0,50716.0,42945.0,8816.0,2505.0,NaN,55812.0,16584.0,9908.0
3,021a6793c00383f5a61d0839560bf064,2.666667,021a6793c00383f5a61d0839560bf064,16767,307.0,17654.0,61.0,13986.0,10130.0,24661.0,...,24310.0,18351.0,8456.0,NaN,304.0,3596.0,10306.0,18519.0,15476.0,3059.0
4,02cca16b52ba875d904e71eea0feab3c,4.000000,02cca16b52ba875d904e71eea0feab3c,34726,44773.0,16845.0,2966.0,20484.0,43243.0,3068.0,...,9749.0,41882.0,59780.0,48392.0,45163.0,38973.0,74551.0,22637.0,82221.0,2749.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,fb5bd4433c1bebe2328a3c7af9302577,4.000000,fb5bd4433c1bebe2328a3c7af9302577,68961,34774.0,84887.0,14653.0,32048.0,25064.0,63510.0,...,33827.0,26034.0,74143.0,83592.0,80048.0,38507.0,76912.0,42966.0,7732.0,40965.0
515,fc5641133d7ec7f56a3b271ab4262789,2.000000,fc5641133d7ec7f56a3b271ab4262789,46947,36428.0,21079.0,19988.0,20685.0,30911.0,41178.0,...,24403.0,29296.0,20237.0,32134.0,36976.0,25151.0,21665.0,18139.0,40416.0,10324.0
516,fc600c03ad171d20967709ea6777fa37,3.000000,fc600c03ad171d20967709ea6777fa37,2035,9612.0,2888.0,808.0,30753.0,1211.0,1490.0,...,530.0,8126.0,6052.0,650.0,5269.0,3152.0,300.0,1026.0,11345.0,22393.0
517,fed81ec6589dd636a9d355ba3dd4178b,1.000000,fed81ec6589dd636a9d355ba3dd4178b,39218,37662.0,70992.0,46441.0,NaN,NaN,46766.0,...,63397.0,41182.0,44494.0,56990.0,44093.0,20149.0,26597.0,51363.0,16737.0,46414.0
518,ff7c7e2fbc5360b87176d02023a0f81b,1.000000,ff7c7e2fbc5360b87176d02023a0f81b,31718,9574.0,28368.0,22126.0,64172.0,46971.0,59074.0,...,7867.0,3553.0,6436.0,20719.0,52878.0,68588.0,2162.0,19734.0,24918.0,28933.0

In [15]:
new_time_grade.to_excel('相同成绩和时间.xlsx')